DB_CONNECTION_STRING_LOCAL = mongodb://127.0.0.1:27017/?directConnection=true&serverSelectionTimeoutMS=2000
DB_CONNECTION_STRING_CLOUD = mongodb+srv://leminh1031999:minh10399@cluster0.dkkvd.mongodb.net/test
DB_SOURCE = cloud
DB_NAME = trithucsoDB
SECRET = randomsecret
CLOUDINARY_API_KEY = 292181273367221
CLOUDINARY_API_SECRET = jl24Xw0M0uTg4eCfZpGQPXo8ZMM